<!-- imports the heading macro  -->
{% from "base/macros.html" import page_heading %}

{% extends "base/base.html" %}

{% block content %}
<div class="row page-row">
    {{ page_heading("Account") }}
    <div class="col center-verticaly page-content s12 xl6">
        <div class="profile-container">
            <img class="user-image" src="{{ user.user_image }}" alt="users image">
            <h2 class="profile-name">{{ user.username }}</h2>
            {% if current_user.username == user.username %}
                <p class="profile-text">Member since: {{ user.date_joined.strftime("%d-%m-%Y") }}</p>
                <p class="profile-text">Email: {{ user.email }}</p>
            {% endif %}
            {% if user.bio %}
                 <p class="profile-text">Bio: {{ user.bio }}</p>
            {% endif %}
            {% if current_user.username == user.username %}
                <a class="profile-link btn" href="{{ url_for('users.update_account') }}">Update Account</a>
                <a class="profile-link waves-effect modal-trigger btn" href="#deletAccountModal">Delete Account</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Modal to double check they want to delete -->
<div id="deletAccountModal" class="modal">
    <div class="modal-content">
        <h4>Delete Account</h4>
        <p>Are you sure you want to delete your account</p>
    </div>
    <form method="POST" action="{{ url_for('users.delete_account', username=current_user.username) }}" class="col s12 ">
          {{ form.hidden_tag() }}
        <div class="modal-footer">
            <a href="{{ url_for('users.account', username=current_user.username) }}"
                class="modal-close waves-effect waves-green btn submit-modal">Cancel</a>
            {{ form.submit(class="modal-close waves-effect waves-green btn submit-modal") }}
        </div>
    </form>
</div>

{% endblock %}