<!-- imports the heading macro  -->
{% from "base/macros.html" import page_heading %}

{% extends "base/base.html" %}

{% block content %}
<div class="row page-height">
    {{ page_heading("Account") }}
    <div class="col page-text-col s12 xl6">
        <div class="profile-container">
            <img class="user-image" src="{{ user.user_image }}" alt="users image">
            <h2 class="profile-name">{{ user.username }}</h2>
            {% if current_user.username == user.username %}
            <p class="profile-text">Member since: {{ user.date_joined.strftime("%d-%m-%Y") }}</p>
            <p class="profile-text">Email: {{ user.email }}</p>
            {% endif %}
            {% if user.bio %}
            <p class="profile-text">Bio: {{ user.bio }}</p>
            {% endif %}
            {% if current_user.username == user.username %}
            <a class="profile-link" href="#">Update Account</a>
            <a class="profile-link" href="#">Delete Account</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}