<!-- Imports macros for the heading and the form input fields -->
{% from "base/macros.html" import page_heading, display_input %}

{% extends "base/base.html" %}
{% block content %}
<div class="row page-row fade">
    {{ page_heading("Login") }}
    <div class="col center-verticaly page-content s12 l6">
        <form method="POST" class="col s12 ">
            <!-- this hidden tag is used by Flask-Wtf for CSRF protection and is needed for each form -->
            {{ form.hidden_tag() }}
            <!-- using the macro to display each form input -->
            {{ display_input(form.username ,for="username") }}
            {{ display_input(form.password, for="password") }}
            <!-- add a switch for the remember me data -->
            <div class="input-field col s12">
                <div class="switch">
                    <label for="remember_user"> Remember Me 
                        {{ form.remember_user(type="checkbox")}}
                        <span class="lever"></span>
             
                    </label>
                </div>
            </div>
            <!-- incldes the submit.html  -->
            {% include "base/_submit.html" %}
        </form>
        <div>
            <p class="form-link-msg ">Not a member yet?
                <a href="{{ url_for('users.signup') }}">Sign up now.</a></p>
        </div>
    </div>
</div>
{% endblock %}