<!-- Imports macros for the heading and the form input fields -->
{% from "base/macros.html" import page_heading, display_input %}

{% extends "base/base.html" %}

{% block content %}

<div class="row page-row fade">
    {{ page_heading("Sign Up") }}
    <div class="col page-col content-height s12 xl6">
                <form method="POST" action="" class="col s12 ">
                    <!-- this hidden tag is used by Flask-Wtf for CSRF protection and is needed for each form -->
                    {{ form.hidden_tag() }}
                    <!-- using the macro to display each form input -->
                    {{ display_input(form.username ,for="username") }}
                    {{ display_input(form.email, for="email") }}
                    {{ display_input(form.password, for="password") }}
                    {{ display_input(form.confirm_password, for="confirm_password") }}
                    <!-- incldes the submit.html  -->
                    {% include "base/_submit.html" %}
                </form>
                <div>
                   <p class="form-link-msg ">Already signed up?
                        <a href="{{ url_for('users.login') }}">Log in now.</a></p>   
                </div>
            </div>
        </div>
  


{% endblock %}