@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

* {
    font-size: 10px;
    margin: 0;
}

/* Code to stop css transitions occuring while page loads */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

h1,
h2 {
    margin: 0;
}

body {
    font-family: "Syne", sans-serif;
}

body,
nav {
    background: rgb(243, 242, 242);
}

.container {
    min-height: 40rem;
}

.center-verticaly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Code from Webaim to hide text for screenreader as I wasnt using bootstrap more detail in readme */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*------------------------------- Transitions */
/* smooth transition between pages */
.transition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 600;
    background: rgb(240, 240, 240);
    opacity: 0;
    pointer-events: none;
    transition: all 0.75s ease-in;
}

.transition.is-active {
    opacity: 1;
    pointer-events: all;
}

/* Fade elements in upon page load */
.fade {
    opacity: 0;
    transform: translateY(50px);
    transition: all .75s ease-in;
}

.fade.is-active {
    opacity: 1;
    transform: translatey(0px);
}

/*--------------------------------- Navigation */

nav a {
    color: black;
}

.home-logo {
    margin-left: 5vw;
    font-size: 1.25rem;
}

.hamburger {
    width: 5.5rem;
    height: 5.5rem;
    background-color: transparent;
    position: fixed;
    top: 2%;
    right: 4%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

button:focus {
    background-color: transparent;
}

.line {
    width: 3rem;
    height: 0.2rem;
    background-color: black;
    margin: 0.2rem 0;
    transform-origin: right;
    transition: all 0.75s;
}

.change .line1 {
    transform: rotate(-40deg) translateY(-6.5px);
    background-color: #181822;
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(40deg) translateY(6.5px);
    background-color: #181822;
}

.nav-background {
    width: 6rem;
    height: 6rem;
    position: fixed;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 400;
    transition: all 0.75s cubic-bezier(0.4, 0, 0, 1);
}

.change .nav-background {
    background-color: #f02937;
    transform: scale(150);
}

.navigation-list {
    height: 100%;
    width: fit-content;
    position: fixed;
    right: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: all 0.75s cubic-bezier(0.4, 0, 0, 1);
    text-align: right;
}

.change .navigation-list {
    opacity: 1;
    visibility: visible;
}


.navigation-link {
    font-weight: 600;
    font-size: 13vw;
    letter-spacing: 0.4rem;
    text-decoration: none;
    color: #181822;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.navigation-link:hover {
    color: #fafafb;
}


/*----------------------------- Home page */

.title {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}

.title-text-row {
    height: 55vh;
}

.home-col {
    height: 50%;
}

.title-text {
    margin-top: 5%;
    font-size: 1.5rem;
    font-weight: 400;
}

.link-container {
    position: relative;
}

.signup-container {
    background: black;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 2%;
    transition: all .75s ease-in;
}

.signup-link {
    color: rgb(245, 247, 247);
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.signup-container:hover {
    transform: scale(1.25);
}

.login-container {
    background: #f02937;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    left: 5%;
    transition: all .75s ease-in;
}

.login-link {
    color: rgb(245, 247, 247);
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.login-container:hover {
    transform: scale(1.25);
}

/* -----------------------------Page layout */

.page-row {
    height: 70vh;

}

.title-height {
    height: 20%;
}

.content-height {
    height: 80%;
}

.about-text {
    font-size: 2.5vh;
    padding: 0 2rem 0 2rem;
    text-align: center;
}

.page-title {
    font-size: 5.5vh;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


/* ----------------------Forms */


.error {
    color: #f02937;
    font-size: 1rem;
}

.submit,
.image-btn,
.submit-modal {
    color: black;
    background: white;
    border: none;
    text-align: center;
    transition: all .5s ease-in;
}

.submit,
.image-btn {
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
}

.image-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    color: white;
    background: #f02937;
}

.image-btn span label {

    color: black;
}

.form-link-msg,
.form-link-msg a {
    font-size: 1.25rem;
}

.form-link-msg a {
    color: #f02937;
}

.form-link-msg a:hover {
    text-decoration: underline;
}

.flash,
.info {
    font-size: 1.75rem;
    text-align: center;
    width: 100%;
}

.flash-col {
    width: 100%;
    margin: 1rem 0;
}

.flash-success {
    color: #3c6e4f;
}

.flash-errors {
    color: #f02937;
}

/* ---------- Profile */
.user-image {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.profile-container {
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-name {
    font-size: 3.5vh;
    font-weight: 600;
}

.profile-text {
    margin-top: 1vh;
    font-size: 2vh;
}

.profile-link {
    font-size: 1.75vh;
    background: white;
    color: black;
    margin-top: 1.5vh;
    text-align: center;
    width: 15rem;
}

/* --------------------------Posts */
.post-card {
    height: 25rem;
    width: 100%;
    position: relative;
    background: rgb(233, 231, 231);
    margin: 1rem;
}

.post-row {
    height: fit-content;
}

.post-card-title {
    font-weight: 600;
    font-size: 3.5rem;
    height: 8rem;
}

.post-card-content {
    height: 8rem;
    padding-top: 1rem;
}

.post-card-content p {
    font-size: 1.25rem;
    font-weight: 400;
}

.more-link {
    font-weight: 600;
}

.post-card-action {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    margin-bottom: 0;
}

.card-category-link {
    font-size: 1.25rem;
}

.arrow {
    font-size: 1.35rem;
}

.post-card-category {
    height: 3rem;
}

.post-author-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-left: 2rem;
}

.post-author a,
.post-author p {
    font-size: 1.25rem;
}

.post-card a {
    color: black;
    transition: all .5s ease;
    font-size: 1.35rem;
}

.post-card a:hover {
    text-decoration: underline;
    color: #f02937;
}

.pag-btn {
    color: black;
    background: white;
}

.pag-btn-active {
    color: white;
    background: #f02937;
}

.pag-btn,
.pag-btn-active {
    margin: 1rem;
    transition: all .5s ease-in;
}

.pag-btn:hover {
    color: white;
    background: #f02937;
}

/* ----------------- Singal Post Page */
.post-row {
    position: relative;
    height: 100vh;
    max-width: 1200px;
}

.post-col {
    height: fit-content;
    width: 100%;
}

.post-title {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin: 4rem 0;
}

.post-category {
    font-size: 2rem;
    margin: 2rem;
}

.post-image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin: 2rem;
}

.post-user-row {
    max-width: 30rem;
}

.post-author-col {
    margin: 2rem 0;
}

.post-author-col p,
.post-author-col a {
    margin: 1rem 0;
    font-size: 1rem;
}

.post-content {
    margin: 0 1rem;
    font-size: 1.25rem;
}

.post-edit-btns {
    width: 100%;
    text-align: center;
}

.post-btn,
.comment-btn {
    background: white;
    color: black;
    margin: 1rem 2rem;
    transition: all .5s ease;
}

/* ---------------------Comments Section */
.likes-col{
    margin:2rem 0;
}
.liked {
    pointer-events: none;
}
.liked-text{
    font-size: 1rem;
}

.comment-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.comment {
    width: 22rem;
    margin-top: 1rem;
}

.comment p {
    margin: 2rem 0;
    font-size: 1.25rem;
}

.comment small {
    font-size: .8rem;
}

.comment-form {
    margin-top: 2rem;
    width: 22rem
}

.comment-btn {
    height: 2rem;
    width: 5rem;
    font-size: .7rem;
}


@media(min-width: 768px) {
    .title {
        margin-top: 7.5%;
        font-size: 5rem;
    }

    .title-text-row {
        height: 32rem;
    }

    .home-col {
        height: 100%;
    }

    .title-text {
        font-size: 1.75rem;
    }

    .signup-container {
        height: 14rem;
        width: 14rem;
        top: 10%;
    }

    .signup-link {
        font-size: 1.5rem;
    }


    .login-container {
        height: 10rem;
        width: 10rem;
        bottom: 10%;
    }

    .login-link {
        font-size: 1.75rem;
    }



    .page-title {
        font-size: 10vw;
    }

    .about-text {
        font-size: 3vw;
    }

    .navigation-link {
        font-size: 10vw;

    }
}

@media(min-width: 992px) {
    .navigation-item {
        margin: 1vh;
    }
}

@media(min-width: 1201px) {
    .title {
        font-size: 6rem;
    }

    .title-text {
        font-size: 2rem;
    }

    .signup-container {
        height: 16rem;
        width: 16rem;
    }

    .signup-link {
        font-size: 1.75rem;
    }


    .login-container {
        height: 13rem;
        width: 13rem;
    }

    .login-link {
        font-size: 2rem;
    }

    .page-title {
        font-size: 10vw;
    }

    .about-text {
        font-size: 3vw;
    }

    .navigation-link {
        font-size: 10vw;

    }

    .page-title-col,
    .page-text-col {
        height: 100%;
    }

    .page-title {
        font-size: 4vw;
    }

    .about-text {
        font-size: 1.75vw;
    }

    .navigation-link {
        font-size: 7vw;

    }

    .content-height,
    .title-height {
        height: 100%;
    }
}

@media(min-width:1400px) {
    .title {
        font-size: 6.5rem;
    }

    .page-title {
        font-size: 5vw;
    }

    .about-text {
        font-size: 1.5vw;
    }

    .navigation-link {
        font-size: 5vw;

    }

}