@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

h1 {
    margin: 0;
}

body {
    font-family: "Syne", sans-serif;
}

body,
nav {
    background: rgb(243, 242, 242);
}

.page-height {
    height: 40vh;
}

/*------------------------------- Transitions */
/* smooth transition between pages */
.transition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 600;
    background: rgb(240, 240, 240);
    opacity: 0;
    pointer-events: none;
    transition: all 0.75s ease-in;
}

.transition.is-active {
    opacity: 1;
    pointer-events: all;
}
/* Fade elements in upon page load */
.fade {
    opacity: 0;
    transform: translateY(50px);
    transition: all .75s ease-in;
}

.fade.is-active {
    opacity: 1;
    transform: translatey(0px);
}

/*--------------------------------- Navigation */

nav a {
    color: black;
}

.home-logo {
    margin-left: 5vw;
    font-size: 1.25rem;
}

.hamburger {
    width: 5.5rem;
    height: 5.5rem;
    background-color: transparent;
    position: fixed;
    top: 2%;
    right: 4%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

button:focus {
    background-color: transparent;
}

.line {
    width: 3rem;
    height: 0.2rem;
    background-color: black;
    margin: 0.2rem 0;
    transform-origin: right;
    transition: all 0.75s;
}

.change .line1 {
    transform: rotate(-40deg) translateY(-6.5px);
    background-color: #181822;
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(40deg) translateY(6.5px);
    background-color: #181822;
}

.nav-background {
    width: 6rem;
    height: 6rem;
    position: fixed;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 400;
    transition: all 0.75s cubic-bezier(0.4, 0, 0, 1);
}

.change .nav-background {
    background-color: #f02937;
    transform: scale(150);
}

.navigation-list {
    height: 100%;
    width: fit-content;
    position: fixed;
    right: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: all 0.75s cubic-bezier(0.4, 0, 0, 1);
    text-align: right;
}

.change .navigation-list {
    opacity: 1;
    visibility: visible;
}


.navigation-link {
    font-weight: 600;
    font-size: 13vw;
    letter-spacing: 0.4rem;
    text-decoration: none;
    color: #181822;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.navigation-link:hover {
    color: #fafafb;
}


/*----------------------------- Home page */

.container {
    width: 95%;
    max-width: unset;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 7vh);
}

.title-container {
    grid-column: 2 / 12;
    grid-row: 2 / 5;
}

.title {
    margin: 0;
    font-size: 5.5vh;
    font-weight: 800;
}

.title-text-container {
    grid-column: 3 / 11;
    grid-row: 5 / 7;
    position: relative;
}

.title-text {
    font-size: 2vh;
    font-weight: 400;
}

.signup-container {
    grid-column: 2 / 5;
    grid-row: 8 / 11;
    background: black;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    position: relative;
    transition: all .75s ease-in;
}

.signup-link {
    color: rgb(245, 247, 247);
    font-size: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.signup-container:hover {
    transform: scale(1.25);
}

.login-container {
    grid-column: 8 / 11;
    grid-row: 10 / 12;
    background: #f02937;
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    position: relative;
    transition: all .75s ease-in;
}

.login-link {
    color: rgb(245, 247, 247);
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.login-container:hover {
    transform: scale(1.25);
}

/* -----------------------------Page layout */

.page-title-container,
.about-text-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.form-col {
    position: relative;
}

.form-container {
    position: absolute;

    bottom: 0;
   
  
   
    width: 90%;
}

.about-text {
    font-size: 4vw;
}

.page-title {
    font-size: 11vw;
    font-weight: 800;
    text-transform: uppercase;
}
/* ----------------------Forms */
.error{
    color: #f02937;
}
.submit{
    background: transparent;
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    font-size: 2rem;
    border: none;
    text-align: center;
    transition: all .5s ease-in;
}
.submit:hover{
    color:white;
    background: #f02937;
}
@media(min-width: 768px) {


    .title {
        font-size: 8vh;
    }

    .signup-container {
        height: 22vh;
        width: 22vh;
    }

    .signup-link {
        font-size: 3vh;
    }

    .login-container {
        height: 20vh;
        width: 20vh;
    }

    .page-title {
        font-size: 10vw;
    }

    .about-text {
        font-size: 3vw;
    }

    .navigation-link {
        font-size: 10vw;

    }
}

@media(min-width: 992px) {
    .navigation-item {
        margin: 1vh;
    }
}

@media(min-width: 1200px) {
    .title {
        font-size: 11vh;
    }

    .title-text {
        font-size: 3vh;
    }

    .title-container {
        grid-column: 2 / 9;
    }

    .title-text-container {
        grid-column: 2 / 7;
        grid-row: 8 / 11;
    }

    .signup-container {
        grid-column: 10 / 12;
        grid-row: 3 / 6;
        height: 34vh;
        width: 34vh;
    }

    .signup-link {
        font-size: 4vh;
    }

    .login-container {
        grid-row: 8 / 11;
        height: 30vh;
        width: 30vh;
    }

    .login-link {
        font-size: 4vh;
    }

    .page-height {
        height: 85vh;
    }

    .page-title {
        font-size: 7vw;
    }

    .about-text {
        font-size: 2vw;
    }

    .navigation-link {
        font-size: 7vw;

    }

}

@media(min-width:1400px) {
    .page-title {
        font-size: 5vw;
    }

    .about-text {
        font-size: 1.5vw;
    }

    .navigation-link {
        font-size: 5vw;

    }

}