<!-- Imports macros for the heading and the form input fields -->
{% from "base/macros.html" import page_heading, display_input %}

{% extends "base/base.html" %}
{% block content %}
<div class="row page-row fade">
    {{ page_heading("Delete Category") }}
    <div class="col center-verticaly page-content s12 l6">
      <div class="delete-cat-msg">
            <h3>Are you sure you want to delete this Category</h3>
      <p>This will delete this category and all posts associated with it. This cannot be undone.</p>
      </div>
    

        <form method="POST" class="col s12 ">
            <!-- this hidden tag is used by Flask-Wtf for CSRF protection and is needed for each form -->
            {{ form.hidden_tag() }}
            <a href="{{ url_for('admin.dashboard') }}" class="submit btn">Cancel</a>
            {% include "base/_submit.html" %}
        </form>
    </div>
    </div>
    {% endblock %}