<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title%}
    <title>{{ title }}</title>
    {% else %}
    <title>Hello World Blog</title>
    {% endif %}
</head>

<body class="preload">
     <div class="transition  is-active"></div>
    <header>
        <nav class="z-depth-0">
            <div class="navigation">
                <a href="{{ url_for('main.home') }}" class="home-logo">  Hello World!</a>
                <ul class="nav-list">
                	<button href="#" class="hamburger" aria-haspopup="true" aria-expanded="false" aria-label="open navigation">
							<span class="line line1" aria-hidden="true"></span>
                            <span class="line line2" aria-hidden="true"></span>
                            <span class="line line3" aria-hidden="true"></span>
                    </button>
                </ul>
                <div class="nav-background"></div>
						<ul class="navigation-list">
                            <li class="navigation-item">
								<a href="{{ url_for('main.home') }}" class="navigation-link" data-cy="home-link-lp"> Home</a>
							</li>
							<li class="navigation-item">
								<a href="#home" class="navigation-link" data-cy="home-link-lp"> Login</a>
							</li>
							<li class="navigation-item">
								<a href="#about" class="navigation-link" data-cy="about-link-lp">Register</a>
							</li>
							<li class="navigation-item">
								<a href="{{ url_for('main.about')}}" class="navigation-link" data-cy="destinations-link-lp">
									About</a>
                            </li>
                            	<li class="navigation-item">
								<a href="#destinations" class="navigation-link" data-cy="destinations-link-lp">
								Contact</a>
							</li>
							
						</ul>
            </div>
        </nav>
    </header>
    <main> 
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>