<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Line Awesome icons-->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <!-- Materialize Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Favicon-->
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- Style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Add changable title -->
    {% if title%}
    <title>{{ title }}</title>
    {% else %}
    <title>Hello World Blog</title>
    {% endif %}
</head>
<!-- Preload class to stop the css transition running on page load -->
<body class="preload">
    <!-- transition on page change -->
    <div class="transition  is-active"></div>
    <header>
        <!-- removes shadow from nav in materialize -->
        <nav class="z-depth-0">
            <div class="navigation">
                <a href="{{ url_for('main.home') }}" class="home-logo"> Hello World!</a>
             
                    <button class="hamburger" aria-haspopup="true" aria-expanded="false"
                        aria-label="open navigation">
                        <span class="line line1" aria-hidden="true"></span>
                        <span class="line line2" aria-hidden="true"></span>
                        <span class="line line3" aria-hidden="true"></span>
                    </button>
              
                <div class="nav-background"></div>
                <ul class="navigation-list">
                    <!-- checks if user is logged in -->
                    {% if current_user.is_authenticated %}
                    <!-- checks if user is admin and shows dashboard link if so -->
                        {% if current_user.username == "admin" %}
                            <li class="navigation-item">
                                <a href="{{ url_for('admin.dashboard') }}" class="navigation-link"
                                    data-cy="dashboard-link">Dashboard</a>
                            </li>
                        {% endif %}
                    <li class="navigation-item">
                        <a href="{{ url_for('posts.all_posts') }}" class="navigation-link"
                            data-cy="home-link">Home</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{{ url_for('posts.add_post') }}" class="navigation-link" data-cy="add-post-link">Add
                            Post</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{{ url_for('users.account', username=current_user.username) }}"
                            class="navigation-link" data-cy="account-link">Account</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{{ url_for('users.logout') }}" class="navigation-link"
                            data-cy="logout-link">Logout</a>
                    </li>
                    {% else %}
                     <!-- links shown to new user or user before login -->
                    <li class="navigation-item">
                        <a href="{{ url_for('main.home') }}" class="navigation-link"> Home</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{{ url_for('users.login') }}" class="navigation-link"> Login</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{{ url_for('users.signup') }}" class="navigation-link" >Sign
                            Up</a>
                    </li>
                    {% endif %}
                    <li class="navigation-item">
                        <a href="{{ url_for('main.about')}}" class="navigation-link" data-cy="about-link">
                            About</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{{ url_for('main.contact')}}" class="navigation-link" data-cy="contact-link">
                            Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <!-- Add flashed messages -->
        <div class="main-container container">
                <div class="row">
                    <div class="col flash-col">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="flash flash-{{ category }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            <!-- inserts the content here -->
            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </div>
    </main>
    <!-- Jequery script -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Materialize js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- main js file -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>