<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title%}
    <title>{{ title }}</title>
    {% else %}
    <title>Hello World Blog</title>
    {% endif %}
</head>

<body class="preload">
    <div class="transition  is-active"></div>
    <header>
        <nav class="z-depth-0">
            <div class="navigation">
                <a href="{{ url_for('main.home') }}" class="home-logo"> Hello World!</a>
                <ul class="nav-list">
                    <button href="#" class="hamburger" aria-haspopup="true" aria-expanded="false"
                        aria-label="open navigation">
                        <span class="line line1" aria-hidden="true"></span>
                        <span class="line line2" aria-hidden="true"></span>
                        <span class="line line3" aria-hidden="true"></span>
                    </button>
                </ul>
                <div class="nav-background"></div>
                <ul class="navigation-list">
                    <li class="navigation-item">
                        <a href="{{ url_for('main.home') }}" class="navigation-link"> Home</a>
                    </li>
                    {% if current_user.is_authenticated %}
                      <li class="navigation-item">
                        <a href="{{ url_for('users.account', username=current_user.username) }}" class="navigation-link">Account</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{{ url_for('users.logout') }}" class="navigation-link" data-cy="about-link-lp">Logout</a>
                    </li>
                    {% else %}
                    <li class="navigation-item">
                        <a href="{{ url_for('users.login') }}" class="navigation-link"> Login</a>
                    </li>
                    <li class="navigation-item">
                        <a href="{{ url_for('users.signup') }}" class="navigation-link" data-cy="about-link-lp">Sign
                            Up</a>
                    </li>
                     {% endif %}
                    <li class="navigation-item">
                        <a href="{{ url_for('main.about')}}" class="navigation-link" data-cy="destinations-link-lp">
                            About</a>
                    </li>
                    <li class="navigation-item">
                        <a href="" class="navigation-link">
                            Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col flash-col">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="flash flash-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>