<!-- Macors for page headings, About, Login and register
Form input macros also for input fields -->
<!-- Headdin macro -->
{% macro page_heading(heading) %}
<div class="page-title-col col s12 xl6">
    <div class="page-title-container">
        <h1 class="page-title fade">
            {{heading}}
        </h1>
    </div>
</div>
{% endmacro %}
<!-- Form input macro -->
{% macro display_input(input_name) %}
<div class="input-field">
        {{ input_name.label(**kwargs) }}
        {% if input_name.errors %}
        {{ input_name(class="validate") }}
        <div class="error">
            {% for error in input_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ input_name(class="validate") }}
        {% endif %}
</div>
{% endmacro %}