{% extends "base/base.html" %}
{% block content %}


    <div class="row page-row">
        {% for post in posts %}
        <div class="post-container col s12 m6 l4">
            <hr>
            <h1 class="post-heading">{{post.title}}</h1>
            <p>{{post.content}}</p>
            <p>{{ post.category.category_name }}</p>
            <p>Posted on: {{post.date_posted.strftime("%d-%m-%Y")}}</p>
            <p>Posted by: {{post.author.username}}</p>
            <hr>
        </div>
        {% endfor %}
    </div>

{% endblock %}