{% from "base/macros.html" import display_input %}
{% extends "base/base.html" %}

{% block content %}
<!-- include the base title html-->
<div class="row post-row fade">
    {% include "base/_posts_title.html" %}
        <!--include each post card from base html -->
        {% include "base/_post_card.html" %}
  <!-- Include the base search html -->
    {% include "base/_search.html" %}
        <!-- pagination buttons -->
     <div class="col s12">
                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if posts.page == page_num %}
                        <a class="btn pag-btn-active" href="{{ url_for('posts.all_posts', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class=" btn pag-btn" href="{{ url_for('posts.all_posts', page=page_num) }}">{{ page_num }}</a>
                    {% endif%}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

     </div>
</div>
{% endblock %}